backups
coremods
crash-reports
journeymap
ldlib
local
logs
modernfix
mods
!kubejs/server_scripts/mods
patchouli_books
saves
screenshots
emi.json
observable_announce
options.txt
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json
resourcepacks
hs_err_pid*.log
.qmenu_opened.marker
shaderpacks
ESM
fancymenu_data
impossible_data
config/spark/tmp
*.xcf
.mixin.out